%p#notice= notice

%p
  %b Text:
  = @question.text

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
= form_tag answer_question_path do
  = text_field_tag 'Answer'
  = submit_tag 'Submit'
